<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetII_B56.Properties.Settings.connexion" connectionString="Data Source=tcp:424sql.cgodin.qc.ca,5433;Initial Catalog=BDB56Pr211;Persist Security Info=True;User ID=56Wakim;Password=W@k1mSQL;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjetII_B56.Properties.Settings.BDB56Pr211ConnectionString"
            connectionString="Data Source=tcp:424sql.cgodin.qc.ca,5433;Initial Catalog=BDB56Pr211;User ID=56Poirier;Password=SQL62y62"
            providerName="System.Data.SqlClient" />
        <add name="ProjetII_B56.Properties.Settings.BDB56Pr211ConnectionString1"
            connectionString="Data Source=tcp:424sql.cgodin.qc.ca,5433;Initial Catalog=BDB56Pr211;Persist Security Info=True;User ID=56Poirier;Password=SQL62y62;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>